@import "bootstrap/scss/bootstrap.scss";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button:disabled,
button[disabled]{
	cursor: not-allowed;
}

.disabled-code {
  & textarea {
    background-color: lightgray !important;
    cursor: not-allowed !important;
  }
}

// bottom margin for all rows
.row {
	@extend .mb-2;
}

.inline-icon {
	@extend .mr-3;
}

.inline-icon.size20 {
	width: 20px;
	height: 20px;
}

.inline-icon.size30 {
	width: 30px;
	height: 30px;
}

div.scrollable {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: auto;
}

tr {
  &.clickable {
    cursor: pointer;
    &:hover {

    }
  }
  &.good {
    background-color: lightgreen;
    &:hover {
      background-color: darken(lightgreen, 35%);
    }
  }
  &.bad {
    background-color: #f38d8d;
    &:hover {
      background-color: darken(#f38d8d, 15%);
    }
  }
}

td.reset-expansion-style {
  @extend .border;
  @extend .border-secondary;
}

.full-height__control {
  @extend .h-100;
}

::-webkit-input-placeholder {
   font-style: italic;
}
:-moz-placeholder {
   font-style: italic;  
}
::-moz-placeholder {
   font-style: italic;  
}
:-ms-input-placeholder {  
   font-style: italic;
}

.editor-wrapper {
  // @extend .shadow-sm;
  @extend .rounded;
  max-height: 300px;
  overflow: auto;
  border: 2px inset #ced4da;
}

.editor {
  counter-reset: line;
  & #codeArea {
    outline: none;
    padding-left: 60px !important;
  }
  & pre {
    padding-left: 60px !important;
  }
  & .editorLineNumber {
    position: absolute;
    left: 0px;
    color: #aaa;
    text-align: right;
    width: 40px;
    font-weight: 100;
  }
}
